<div class="app-component">
  <div class="component-header">
    <h3>Populäre Filme</h3>
  </div>

  <div style="margin-top: 20px" *ngIf="popMoviesResponse">
    {{popMoviesResponse.results.push()}}
    {{popMoviesResponse.total_results}}
    <div class="row">

      <div *ngFor="let movie of popMoviesResponse.results; let i = index" class="col-sm-3 mb-4">    
        <div class="card">
          <img [src]="posterpath + movie.poster_path" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p class="card-text"><i>{{movie.release_date | date :'dd. MMM yyyy'}}</i></p>
            <a href="#" class="btn btn-primary mr-2">Details</a>
            <a href="#" class="btn btn-primary">Favoriten</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>