<div class="app-component">
    <div class="component-header">
      <h3>Poplar Movies</h3>

    </div>
    <button class="btn btn-outline-dark" (click)="loadMovies()">Load Movies</button>
    <div style="margin-top: 20px" *ngIf="moviesResponse">
      {{moviesResponse.results.push()}}
      {{moviesResponse.total_results}}
      <div >     
    </div>


    </div>
  </div>
  <table>
  <tr *ngFor="let row of rows; let i = index">    
    <td *ngFor="let cell of row; let i = index">        
          <b>{{ cell.cellValue }} editable</b>        
    </td>
  </tr>  
</table>